:root {
  --color-i: #1013ef;
  --color-ii: #ef1083;
  --color-iii: #efec10;
  --color-iv: #10ef7c;
  --color-text-dark: #010414;
  --color-text-light: #ffffff;
  --color-grey-6: #f6f6f7;
  --color-grey-4: #bfc0c4;
}
