:root {
  --color-i: #1013ef;
  --color-ii: #ef1083;
  --color-iii: #efec10;
  --color-iv: #10ef7c;
  --color-v: #2029f3;
  --color-text-dark: #010414;
  --color-text-light: #ffffff;
  --color-grey-4: #bfc0c4;
  --color-grey-5: #e6e6e7;
  --color-grey-6: #f6f6f7;
  --color-system-success: #249e2c;
  --color-system-error: #cc1e1e;
}
