@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//Icomoon:
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?6hdn3o");
  src: url("./fonts/icomoon.eot?6hdn3o#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?6hdn3o") format("truetype"),
    url("./fonts/icomoon.woff?6hdn3o") format("woff"),
    url("./fonts/icomoon.svg?6hdn3o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e900";
}
.icon-chevron_down:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-warning_circle:before {
  content: "\e903";
}
